<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema Veterinário</title>
    <link rel="stylesheet" href="../static/stely.css">
</head>
<body>
    <div class="login-box">
       
        <div class="logo">
            <h1>Sistema Veterinário</h1>
            <p>Faça login para acessar</p>
        </div>
    
        <form action="index.html" method="post">
        
            <div class="input-group">
                <label for="E-mail">E-mail</label>
                <input type="text" id="E-mail" name="E-mail" required placeholder="Digite seu E-mail">
            </div>
        
            <div class="input-group">
                <label for="">Senha</label>
                <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
            </div>
            <button type="submit" class="login-btn">Entrar</button>
        </form>
    </div>
</body>
</html>